<!-- Add Notes button on top -->
<div>
    <button mat-raised-button (click)="toggleNotesAdd()">
        <mat-icon>note_add</mat-icon> Add Notes
    </button>
    <div id="addNotes" *ngIf="showAddNotes">
        <mat-form-field appearance="fill">
            <mat-label>Enter Your notes</mat-label>
            <input id="txtAddNotes" matInput placeholder="Add notes here.." [(ngModel)]="newNotes">
        </mat-form-field>
        <button mat-raised-button (click)="addNotes()">Add</button>
    </div>
</div>

<!-- List of existing Notes -->
<div>
    <table mat-table [dataSource]="dataSource">
        <!-- <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let todos">
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()">
                </mat-checkbox>
            </td>
        </ng-container> -->

        <ng-container matColumnDef="notes">
            <th mat-header-cell *matHeaderCellDef> My Notes </th>
            <td mat-cell *matCellDef="let todos">
                <input id="txtEditNote" type="text" matInput value="{{todos.notes}}" [class.completed]="todos.completed"
                    [disabled]="todos.editable" *ngIf="todos.id">
                <!-- style="color: rgb(119, 2, 80);" -->
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let todos">
                <button mat-icon-button (click)="completeNotes(todos)"
                    title="{{ todos.completed ? 'Mark incomplete' : 'Mark as completed'}}">
                    <mat-icon>playlist_add_check</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteNotes(todos)" title="Delete Notes">
                    <mat-icon>delete_outline</mat-icon>
                </button>
                <button mat-icon-button (click)="updateNotes(todos)" title="Edit Notes"
                    *ngIf="!todos.completed">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of todos">
    </mat-paginator>
</div>